.custom-switch {
  .icon-moon,
  .icon-sun {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 !important;
  }
  .icon-sun {
    width: 14px;
    height: 14px;
  }
  .icon-moon {
    font-size: 0.8rem;
    color: #f1e21d;
  }
}
